<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Diary Calendar</h1>
            <div class="container col-md-8">
                <div class="col-md-3 px-0 mx-auto " >
                    <img src="/img/logo_P.PNG" alt="Logo DC" class="m-2 rounded-circle img-fluid">   
                </div>
            </div>
            <h3 class="mb-5">
                <em>Organiza tus actividades del día a día</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empezemos a ordenar tu agenda!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>