<div class="container p-4">
    <div class="row">
        <div class="container text-center my-auto mt-3">
            <h1 class="mb-5">
                <em>Origen de Diary Calendar</em>
            </h1>
        </div>
    <div>
    <div class="container text-center my-auto mt-3">
    <p>Esta aplicación web fue desarrollada con la finalidad de ayudar a cualquier persona con la necesidad de organizar sus actividades diarias. Diary Calendar te permite agendar y ordenar todas tus actividades del día a día ademas de darte la oportunidad de realizar anotaciones dentro de cada actividad.</p></br>
    <img src="/img/logop.png" alt="Logo Fazt" class="card-img-top mx-auto rounded-circle w-25 p-3">
    <p>Aceptamos donaciones para mejoramiento del servicio ofrecido con la finalidad de costear los costes de mantenimiento y poder seguir mejorando el servicio ofrecido.</p>
    <a class="btn btn btn-warning btn-lg btn-block" href= "https://paypal.me/DiaryCalendar?country.x=MX&locale.x=es_XC" target="_blank">Paypal</a><br><br>
    <p>Creador de la pagina Luis Guillen / Contacto:0234598@up.edu.mx / <a href="https://www.linkedin.com/in/luis-alejandro-guillen-alvarez-10aa58215/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a></p>
    </div>
</div>
