<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>SignIn</h3>
        </div>
        <div class="card-body">
            <img src="/img/Logo.PNG" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" maxlength="20" minlength="5" required name="username" placeholder="Username" class="form-control" autofocus>
            </div><br>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password"  required maxlength="80" minlength="8" class="form-control">
            </div><br>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                SingIn
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>